<div class="post_info">
  <p>
    <strong>タイトル：</strong>
    <%= @post.title %>
  </p>
  <p>
    <strong>内容：</strong>
    <%= simple_format @post.content %>
  </p>
</div>

<%= link_to '戻る', posts_path %>
| <%= link_to '編集', edit_post_path(@post) %>